<ul class="menu">
    <li class="menu-header">Dashboard</li>
    <li>
        <ul class="menu-left">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/search">Knowlegde Base</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="menu-right">
            <li>
                <a href="#">User</a>
            </li>
        </ul>
</ul>