/node_modules
bundle.js
npm-debug.log
.DS_Store

# IntelliJ
*.iml
/.idea

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
public/imgs

pkg.cmd
prj.cmd
repo.cmd
package-lock.json

# misc
.DS_Store
.env
custom_node_module_lab
npm-debug.log
"/.env"

public/docs
/public/docs
"/.env"
