<!DOCTYPE html>
<html>
	<head>
            <meta charset="UTF-8">		
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://use.fontawesome.com/fc14e58e15.js"></script>
            <!-- <script src="js/vendor/jquery.js"></script> -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
            <link rel='stylesheet' href='css/app.css' />
            <!-- <link rel="stylesheet" href="css/foundation.css">
            <link rel="stylesheet" href="css/icons/foundation-icons.css"> -->
            <title>{{#if title}} {{{title}}} {{else}} Project Demo {{/if}}</title>
	</head> 
	<body>	
            {{> header}}        
            <div class="layout v-scroll">                
                {{{body}}}
            </div>		
        </body>	
        <!-- <script src="js/vendor/foundation.js"></script> -->
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
        <script>

            // Initialize Firebase
            let config = {
                apiKey: "AIzaSyAQw4bQVC6Em-qqQ4lKp78w6lVGxHbWiQE",
                authDomain: "galleria-89285.firebaseapp.com",
                databaseURL: "https://galleria-89285.firebaseio.com",
                projectId: "galleria-89285",
                storageBucket: "galleria-89285.appspot.com",
                messagingSenderId: "495945587274"
            };

            firebase.initializeApp(config);
            
            let galleryRef = firebase.database().ref('gallery');    

            const saveUser = (obj) => {
                if (null != obj && undefined !== obj &&
                (typeof obj == 'object') && (obj instanceof Object)) {
                    // Saving to a Firebase database/collection
                    // galleryRef.set({
                        
                    // });
                    if (Object.keys(obj).length > 0) {
                        galleryRef = galleryRef.push();
                        galleryRef.set(obj);
                    }
                }
            }
            
            <!-- saveUser({first_name: 'Rick', last_name: 'Walker', email: 'rick@gmail.com'}); -->
        </script>
        <script src="js/resource.js"></script>
        <script src="js/start.js"></script>
       
</html>