<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">		
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
        <title>{{#if title}} {{{title}}} {{else}} Project Demo {{/if}}</title>
	</head> 
	<body>	
        {{> header}}        
        <div class="container v-scroll">                
            {{{body}}}
        </div>		
    </body>	
        <link rel="stylesheet" href="css/app.css"/>    
        <script src="js/resource.js"></script>
        <script src="js/start.js"></script>
       
</html>