<div id="output" class="photo v-scroll">
    {{#each photos}}
        <div class="border" style="color: black; margin:4px; border-radius: 9px;"> 
            <h2 class="title">{{this.title}}</h2>
            <img class="img" src="{{this.thumbnailUrl}}">
        </div>
    {{/each}}
</div>