<div id="output" class="container v-scroll">
    {{#each photos}}
        <div class="border album" style="background-image: url({{this.url}}); color: black; margin:4px; border-radius: 9px;"> 
            <h2 class="top">
                <a class="anchor" href="{{this.url}}" target="_blank">{{this.title}}</a>
            </h2>
            <p class="bottom">{{this.url}}</p>
        </div>
    {{/each}}
</div>