<div class="form-parent">
    <form class="form">
        <label class="label"><i class="fa fa-search icon"></i></label>
        <input class="input" type="text" placeholder="Search">
    </form>
</div>