<div class="container">
    <form class="form">
        <label class="label"><i class="fa fa-search icon"></i></label>
        <input class="input" type="text" placeholder="Search">
        <input class="input" type="hidden" value={{csrfToken }} name="_csrfToken"
    </form>
</div>