{{# if submitted }}
    
    <h3 class="header">{{status}}</h3>
    
{{else}}

    <form class="form" method="POST" action="/find">
        <label class="title"><i class="fa fa-search icon"></i></label>
        <input class="field" type="text" name="keyterm" placeholder="Search">
        <input class="" type="hidden" value="{{ csrfToken }}" name="_csrf">
    </form>

{{/if}}