/* Elements */

/* Menu */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 1pt darkorange;
    background: rgb(190, 190, 185);
    z-index: 0;
}

li {
    display: inline-block; 
    margin:0;
    padding: 0;
}

a {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(110, 110, 0);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-size: 2.1em;
    font-family: georgian, arial, "times new roman";
    margin: 0;
    padding: 0;
}









/* Default body */
body {
    margin: 0px;
    padding: 0px;
    color: rgb(10,10,8);
}










/* Parent elements */
.photo {
    padding: 5px;
    margin: 0px;
    display: grid;
    border: solid 1pt black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-items: center;
    grid-template-areas:
        "title title title ."
        " . . . ."
        ". . . ."
        "desc desc desc desc";
}

.container {
    display: grid;
    max-height:80vh;
    max-width: 90vw;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: left;
}

.form {
    display: grid;
    margin: 25px;
    padding: 25px;
    background-color: rgb(235,235,190);
    box-shadow: 5px 5px 8px;
    border-radius: 5px;
    /* background: darkgray; */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "label form . submit";  
}

.form input {
    padding: 5px;
    margin: 0;
    border: solid 1.2pt darkgray;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form i {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    margin: 0px;
    max-height: 2.6em;
    line-height: 2.6;
    background: darkgray;
    /* border: solid 1pt darkcyan;     */
}

 submit-button {
    grid-area: submit;
}

.form-parent {
    display: grid;
    margin: 20px;
    padding: 0px;
    border: solid 1pt darkred;
    border-radius: 3px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-items: left;
    grid-template-areas:
        "icon input";    
}

.row {
    display: grid;
    margin:auto;
    margin:25px;
    border: solid 1pt darkgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px darkgray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas:
        "header header header header"
        "main-body main-body main-body main-body"
        "footer footer footer footer";    
}










/* Specific elements */
.header {
    margin: 1%;
    grid-area: header;
    border: solid 1pt darkred;
}

.header h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    position: relative;
    padding: 5px;
    margin: 0;
    font-weight: bold;
    font-size: 3em;
}

.body {
    margin: 1%;
    grid-area: main-body;
    border: solid 1pt darkgreen;
}

.body * {
    padding: 5px;
    font-family: cursive, georgia, arialnarrow;
}

.footer {
    max-width:90%;
    margin: 1%;
    padding: 0;
    grid-area: footer;
    border: solid 1pt darkblue;
    word-wrap: break-word;
}

.footer p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: cursive, georgia, arialnarrow;
    font-size: 1em;
    font-weight: bold;
    /* text-overflow: ellipsis; */
}

li.menu-header {
    font-family: cursive, georgian, garamond;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    font-size: 1em;
    grid-area: title;
    padding: 25px;
    font-family: cursive, georgia, georgian, arial;
    word-wrap: break-word;
}

.description {
    grid-area: desc;
    padding: 15px;
    margin: 10px;
}





/* Element decoration */
.border {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . header . . "
        ". . main . ."
        ". . footer . .";    
    border: solid 1pt rgb(100, 100, 110);
}

.menu-header {
    font-family: cursive;
    font-size:1em;
    font-weight: bolder;
    color: rgb(25,25,55);
    letter-spacing:0;
}

.layout {
    max-height: 80vh;
}

.copyright {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-family: arialnarrow;
    letter-spacing:0em;
}

.copyright:hover {
    animation-name: grow;
    animation-duration: 4s;
   animation-fill-mode: backwards;
}









/* Animation */
/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}


/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes grow {
    0% {font-size: 0.8em;}
    25% {font-size: 1em;}
    50% {font-size: 1.4}
    100% {font-size: 1.8em;}
}

/* Standard syntax */
@keyframes grow {
    0% {font-size: 0.8em;}
    25% {font-size: 1em;}
    50% {font-size: 1.4}
    100% {font-size: 1.8em;}
}









/* Element layout over-flow */
.v-scroll {
	overflow:scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}