/* All Elements */
* {
    box-sizing: border-box;
}



/* Default body */
body {
    margin: 0px;
    padding: 0px;
    color: #485e74
    background: #92bde7;
    font-family: cursive 'Segoe UI', Tahoma, Genveva, Georgia, sans-serif;
}



/* Global */
.border {
    border: dotted thin black;
}



/* Menu */
.menu {
    display: grid;
    padding: 0px;
    margin: 0px;
    border: solid 1pt darkorange;
    background: rgba(190, 190, 185, 0.5);  
    grid-template-columns: auto;
    grid-template-areas:
    "menu-header . . . . . . . . . . . . . . . . . . menu-left";
}

.menu-left {
    display: sub-grid;
    grid-template-columns: repeat(4, auto);
    justify-items: left;
    grid-columns-gap: 0px;
}

.menu-right {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-columns-gap: 5px;
    justify-items: right;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 0;
}

.menu li {
    display: inline-block; 
    margin:0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 10px;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(110, 110, 0);
    font-weight: bold;
}

.menu a:hover {
    color: #92bde7;
    background: #485e74;
}

.menu-header {
    padding: 5px;
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;    
    font-family: cursive, 'Segoe UI', Tahoma, Genveva, Georgia, sans-serif;
    grid-area: menu-header;
}



/* Search */
.form {
    display: flex;
    margin:auto;
    padding: 0;
}

.form .icon {
    /* line-height: 2.6px; */
    padding: 10px;
    margin: 0px;
    border: solid 1pt lightgray;
    background: lightgray;
    border-right: none;
    border-bottom-left: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.field {
    /* grid-area: field; */
    padding: 0;
    margin: 0;
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



/* Containers */
.container {
    height: 88vh;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.post {
    display: grid;
    grid-template-columns: auto;
    margin: 25px;
    width: 100%;
    padding: 10px;
    border: solid thin darkgray;
    border-radius: 7px;
}

.album {
    display: sub-grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    grid-areas:
    "top"
    "bottom";
}

/* Album items */
.top {
    padding: 10px;
    margin: 0px;
    grid-area: top;
    font-size: 10pt;
    text-align:center;
}

.top a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.top a:hover {
    text-decoration: underline;
}

.bottom {
    padding: 10px;
    margin: 0px;
    grid-area: bottom;
    font-size: 1em;
}

    



/* Mobile */
@media screen and (max-width: 650px) {
    .container {
        height: 80vh;
        padding: 0px;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        justify-items: right;
        grid-gap: 5px;
        grid-template-areas:
        "top"
    }
   
    .row {
        display: grid;
        grid-template-columns: auto;
    }

   .menu {
        display: grid;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        border: solid 1pt darkorange;
        background: rgba(190, 190, 185, 0.5);  
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-columns-gap: 0px;
        justify-items: left;
        grid-template-areas:
        "menu-header" 
        "menu-left"
        "menu-right";
    }

    .menu-left {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }

    .menu-right {
        display: sub-grid;
        grid-template-rows: auto;
        grid-columns-gap: 0px;
    }

    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 0;
    }

    .menu li {
        display: inline-block; 
        margin:0;
        padding: 0;
    }

    .menu a {
        display: block;
        padding: 0px 5px 0px 5px;
        margin: 0px;
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: none;
        color: rgb(110, 110, 0);
        font-weight: bold;
    }

    .menu a:hover {
        color: #92bde7;
        background: #485e74;
    }

    .menu-header {
        padding: 0px 5px 0px 5px;
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;    
        font-family: cursive, 'Segoe UI', Tahoma, Genveva, Georgia, sans-serif;
        grid-area: menu-header;
    }

    .album {
        display: sub-grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        grid-areas:
        "top";
    }

    /* Album items */
    .top {
        padding: 10px;
        margin: 0px;
        grid-area: top;
        font-size: 10pt;
        text-align:center;
        word-spacing: break-word;
    }
    .top a {
        color: #111;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3em;
    }

    .top a:hover {
        text-decoration: underline;
    }
}




/* Animation */
/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes change-color {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Standard syntax */
@keyframes change-color {
    from {background-color: red;}
    to {background-color: blue;}
}


/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes grow {
    0% {font-size: 0.8em;}
    25% {font-size: 1em;}
    50% {font-size: 1.4}
    100% {font-size: 1.8em;}
}

/* Standard syntax */
@keyframes grow {
    0% {font-size: 0.8em;}
    25% {font-size: 1em;}
    50% {font-size: 1.4}
    100% {font-size: 1.8em;}
}









/* Element layout over-flow */
.v-scroll {
	overflow:scroll;
}

::-webkit-scrollbar {
    width: 1px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}